server:
   port: 10020

spring:
  application:
    name: business-server
  cloud:
    nacos:
      discovery:
        server-addr: ${nacos.host}:${nacos.port}
        namespace: ${nacos.namespace}
        group: ${spring.profiles.active}
        service: ${spring.application.name}
      config:
        server-addr: ${nacos.host}:${nacos.port}
        namespace: ${nacos.namespace}
        file-extension: yml
        group: ${spring.profiles.active}
    sentinel:
      eager: true
      transport:
        port: ${sentinel.transport.port}
        dashboard: ${sentinel.dashboard.host}:${sentinel.dashboard.port}
      datasource:
        flow:   # 流控规则      
          nacos:
            data-id: ${spring.application.name}-flow-rules
            server-addr: ${nacos.host}:${nacos.port}
            namespace: ${nacos.namespace}
            group-id: SENTINEL_GROUP
            rule-type: flow
  config:
    import:
      - nacos:${spring.application.name}
      - nacos:common
      - nacos:${spring.application.name}-dubbo 