server:
   port: 10050

spring:
  application:
    name: system-server
  cloud:
    nacos:
      discovery:
        server-addr: ${nacos.host}:${nacos.port}
        namespace: ${nacos.namespace}
        group: ${spring.profiles.active}
        service: ${spring.application.name}
      config:
        server-addr: ${nacos.host}:${nacos.port}
        namespace: ${nacos.namespace}
        file-extension: yml
        group: ${spring.profiles.active}
    sentinel:
      eager: true
      transport:
        port: ${sentinel.transport.port}
        dashboard: ${sentinel.dashboard.host}:${sentinel.dashboard.port}
      datasource:
        flow:   # 流控规则      
          nacos:
            data-id: ${spring.application.name}-flow-rules
            server-addr: ${nacos.host}:${nacos.port}
            namespace: ${nacos.namespace}
            group-id: SENTINEL_GROUP
            rule-type: flow
  config:
    import:
      - nacos:${spring.application.name}
      - nacos:common
      - nacos:${spring.application.name}-dubbo 

management:
   endpoints:
      web:
         exposure:
            include: "*"
   endpoint:
      health:
         show-details: always

feign:
   compression:
      request:
         enabled: true
         mime-types: text/xml,application/xml,application/json
         min-request-size: 2048
      response:
         enabled: true
   client:
      config:
         default:
            connectTimeout: 2000
            readTimeout: 5000
            loggerLevel: FULL
   hystrix:
     enabled: true

seata:
  enabled: false
  config:
    type: nacos
    nacos:
      server-addr: ${nacos.host}:${nacos.port}
      group: ${spring.profiles.active}
      namespace: ${nacos.namespace}